# Django itself
Django==1.9.6

# For OpenJUB auth backend
requests==2.20.0
munkres==1.0.7

# For relative / natural datetimes
babel==2.3.4

# For PostgreSQL
psycopg2==2.6.1

# For development tools
Werkzeug==0.11.9
django-extensions==1.6.7
