# Django itself
Django==1.11.13

# For OpenJUB auth backend
requests==2.10.0
munkres==1.0.7

# For relative / natural datetimes
babel==2.3.4

# For PostgreSQL
# psycopg2==2.6.1

# For development tools
Werkzeug==0.11.9
django-extensions==1.6.7

# For unified login
django-allauth==0.35.0
django-allauth-dreamjub==0.1.3
