{%  extends "base.html" %}
{% block content %}
    <h1>Room Applications</h1>
    {{ form.non_field_errors }}
    <ol class="flat-list">
        {% for pref in preferences %}
            {% with no_applicants=pref.room.applicants.count %}
                <li>
                    {{ pref.room.code }} - {{ no_applicants }} applicant{{ no_applicants|pluralize }}
                    (<a href="{% url 'room-request-up' pref.pk %}">up</a>
                    <a href="{% url 'room-request-down' pref.pk %}">down</a>
                    <a href="{% url 'room-request-remove' pref.pk %}">remove</a>)
                </li>
            {% endwith %}
        {% endfor %}
        {% if can_apply %}
            <li class="text-muted" style="list-style: none;">
                <form id="room-request-send" action="{% url 'room-request-overview' %}" method="post">
                {% csrf_token %}
                <input autofocus class="form-field" id="{{ form.room_code.id_for_label }}" name="{{ form.room_code.html_name }}" type="text" placeholder="e.g. KA-123">
                (<a href="#" onclick="document.getElementById('room-request-send').submit()">add</a>)
                </form>
            </li>
        {% endif %}
    </ol>

    <ul class="flat-list">
        <li class="text-muted">A <a href="https://tkw1536.github.io/jMap/">map</a> is available for reference.</li>
    </ul>

{%  endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $('#id_room_code').autocomplete({
                source: function(request, response) {
                    $.getJSON('{% url 'room-code-autocomplete' %}',{q: request.term}, function(data) {
                        response(data)
                    })
                },
                select: function( event, ui ) {
                    $('#id_room_code').val(ui.item.code);
                    $('#room-request-send').submit();
                    return false;
                },
                focus: function( event, ui ) {
                    if(ui.item.available) {
                        $('#id_room_code').val(ui.item.code);
                    } else {
                        $('#id_room_code').val("not available");
                    }
                    return false;
                },
                create: function () {
                    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                        if(item.available) {
                            applicants = "";

                            if(item.applicants > 0) {
                                if(item.applicants == 1) {
                                    applicants = ": " + item.applicants + " other"
                                } else {
                                    applicants = ": " + item.applicants + " others"
                                }
                            }
                            return $( "<li></li>" )
                                .data("item.autocomplete", item)
                                .append("<span>" + item.code + applicants + "</span>")
                                .appendTo(ul);
                        } else {
                            return $('<li>')
                            .append('<span class="text-muted">' + item.code + ': ' + item.reason + '</span>')
                            .appendTo(ul);
                        }
                    };
                }
            })
        })

    </script>
{% endblock %}