{%  extends "base.html" %}
{% block content %}
    <h1>Room Applications</h1>
    {% if preferences %}
        <ol class="flat-list">
            {% for pref in preferences %}
                <li>
                    {{ pref.room.code }}
                    <a href="{% url 'room-request-up' pref.pk %}">Up</a>
                    <a href="{% url 'room-request-down' pref.pk %}">Down</a>
                    <a href="{% url 'room-request-remove' pref.pk %}">Remove</a>
                </li>
            {% endfor %}
            {% if can_apply %}
                <li class="text-muted" style="list-style: none;">(<a href="{% url 'room-request-send' %}">add another</a>)</li>
            {% endif %}
        </ol>
        <p>
        </p>
    {% else %}
        <ul class="flat-list">
            <li>
            You have not applied to any rooms.
            {% if can_apply %}
                <span class="text-muted">(<a href="{% url 'room-request-send' %}">apply</a>)</span>
            {% endif %}
            </li>
        </ul>
    {% endif %}

{%  endblock %}