{% extends 'base.html' %}
{% block content %}
{% with request.user as profile %}
    <h1>Your roommates</h1>
    {% if profile.roommates.all %}
        <ul>
        {% for roommate in profile.roommates.all %}
            <li>
                {{ roommate.get_full_name }}
                {% if can_change_roommates %}<a href="{% url 'roommate-remove' roommate.pk %}">Remove</a>{% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends</p>
    {% endif %}

    {% if can_change_roommates %}
        <h1>Send a request</h1>
        {% if mutual_request %}
            <p><i>Your friend had already added you. You're now roommates.</i></p>
        {% endif %}

        {% if different_colleges %}
            <p><i>You are in a different college than your friend.</i></p>
        {% endif %}

        <form action="{% url 'roommate-invite' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send" />
        </form>
    {% endif %}

    {% if profile.inbox.all %}
        <h1>Received requests</h1>
        <ul>
        {% for request in profile.inbox.all %}
            <li>
                {{ request.sender.get_full_name }}
                <a href="{% url 'request-accept' request.pk %}">Accept</a>
                <a href="{% url 'request-deny' request.pk %}">Deny</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if profile.outbox.all %}
        <h1>Pending requests</h1>
        <ul>
        {% for request in profile.outbox.all %}
            <li>{{ request.receiver.get_full_name }}</li>
        {% endfor %}
        </ul>
    {% endif %}


{% endwith %}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $('#id_receiver').autocomplete({
                source: function(request, response) {
                    $.getJSON('{% url 'user-autocomplete' %}',{q: request.term}, function(data) {
                        response(data)
                    })
                }
            })
        })

    </script>
{% endblock %}