<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roomer</title>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <div>
        <a href="{% url 'home' %}">Home</a>
        | <a href="{% url 'college-overview' %}">College Allocation</a>
        | <a href="{% url 'roommate-overview' %}">Roommate Requests</a>
        | <a href="{% url 'room-request-overview' %}">Room Applications</a>

        {% if user.is_authenticated %}
            {% if user.is_staff %}
            | <span><a href="{% url 'admin:index' %}">Django Admin</a></span>
            {% endif %}
            | <span>Logged in as {{ user.get_full_name }} ({{ user.points }} points) <a href="{%  url 'logout' %}">Log out</a></span>
        {% else %}
            | <a href="{%  url 'login' %}">Log in</a>
        {%  endif %}
    </div>
    {%  block content %}
        <h1>Next phases</h1>
        {% if phases %}
            <ol>
                {% for phase in phases %}
                    <li>{{ phase.name }} -- {{ phase.phase }} -- {% if phase.eligible %}ELIGIBLE{% else %}NOT ELIGIBLE{% endif %}</li>
                {% endfor %}
            </ol>
        {% else %}
        <p>There are no phases coming up.</p>
        {% endif %}
    {%  endblock %}

    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    {% endblock %}
</body>
</html>