{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roomer: {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="main_nav">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'college-overview' %}">Colleges</a></li>
        <li><a href="{% url 'roommate-overview' %}">Roommates</a></li>
        <li><a href="{% url 'room-request-overview' %}">Rooms</a></li>

        <li class="right">
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li>
                        <a href="{%  url 'login' %}">Log in</a>
                    </li>
                {%  endif %}
            </ul>
        </li>
    </ul>
</nav>

<div id="main_content">
    {%  block content %}
        <h1>Hi {{ user.first_name }}!</h1>
        <h2>Next Phases</h2>
        {% if phases %}
            <ol>
                {% for phase in phases %}
                    <li {% if not phase.eligible %}class="text-muted"{% endif %}>
                        {{ phase.name }} ({% if phase.eligible %}closes {{ phase.relative_close_time }}{% else %}not eligible{% endif %})
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>There are no phases coming up.</p>
        {% endif %}
        {% if points.available %}
            <h2>Points Breakdown</h2>
            <div class="breakdown">
                <ul class="flat-list">
                    {% for part in points.parts %}
                        <li><span class="float-left">{{ part.points|stringformat:".1f" }}</span> | <span class="float-right">{{ part.text }}</span></li>
                    {% endfor %}
                    <li class="breakdown-sum"> = {{ points.sum }} point{{ points.sum|pluralize }}</li>
                </ul>
            </div>
        {% endif %}
    {%  endblock %}
</div>

<footer id="main_footer" class="text-muted">
    {% block footer %}
        For problems, please contact <a href="mailto:housing@ju-u.sg?subject=Roomer%20Issue">housing@ju-u.sg</a></footer>
    {% endblock %}
</footer>

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}
</body>
</html>