{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
    <h1>Sign In</h1>

    {% if form.errors %}
        <p><strong>Invalid login.</strong> Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p>
    {% if next %}
        {% if user.is_authenticated %}
            <strong>No rights.</strong> Your account doesn't have access to this page. To proceed, please login with an account that has access.
        {% else %}
            <strong>Login required.</strong> Please login to view this page.
        {% endif %}
    {% endif %}
    </p>
<ul class="flat-list">
    <li>
    <div class="login_form">
        <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <input name="{{ form.username.html_name }}"
                   type="text"
                   id="{{ form.username.id_for_label }}"
                   placeholder="{{ form.username.label }}"
                   class="form-field"
                   value="{{ form.username.value|default_if_none:'' }}"
                   {% if not form.errors %}autofocus{% endif %}/>

            <input name="{{ form.password.html_name }}"
                   type="password"
                   id="{{ form.password.id_for_label }}"
                   placeholder="Password"
                   class="form-field"
                   onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"
                   {% if form.errors %}autofocus{% endif %}/>

            <button hidden type="submit" value="login">Go</button>

            <input type="hidden" name="next" value="{{ next }}" />
            <p>We never store your password, and only use it to authenticate you with OpenJUB.</p>
            <p class="text-muted">If you lost your password, reset it in <a class="text-muted" href="https://campusnet.jacobs-university.de">CampusNet</a>.</p>
        </form>
    </div>
    </li>
</ul>

{% endblock %}