{%  extends "base.html" %}
{% block content %}
    <h1>College allocation</h1>
    {% if profile.college %}
        <h2>Results</h2>
        {% if profile.old_college == profile.college %}
            <p>You're staying in {{ profile.get_college_display }}.</p>
        {% else %}
            <p>Looks like you're moving to {{ profile.get_college_display }}.</p>
        {% endif %}
    {% elif window %}
        You can update your preferences until {{ window.end }}. Check back then for your allocation.
    {% else %}
        No college allocation is currently being done.
    {% endif %}

    {% if can_change_college %}
        {% if window.live_allocation %}
            <h3>Move to any college that's not full</h3>
            {% for code, display, percentage in college_choices %}
                <form action="{% url 'college-overview' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="college" value="{{ code }}" />
                    <input type="submit" value="{{ display }}" />
                    <p>Currently <i>{{ percentage }}%</i> full.</p>
                </form>
            {% endfor %}
        {% else %}
            <h3>Stay in {{ profile.get_old_college_display }}</h3>
            <form action="{% url 'college-overview' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="stay" value="true" />
                <input type="submit" value="Stay" />
                <p><b>Warning:</b> This will immediately allocate you to your current college, and cannot be undone.</p>
            </form>
            <p>----- or -----</p>
            <h3>Move out of {{ profile.get_old_college_display }}</h3>
            <form action="{% url 'college-overview' %}" method="post">
                {% csrf_token %}
                {{ pref_form.as_ul }}
                <input type="submit" value="Save" />
            </form>
        {% endif %}
    {% endif %}
{%  endblock %}